a:link, a:visited, a:active {
	color: #0066FF;
	text-decoration: none;
}

a:hover {
	color: #FF6600;
}

#analysis {
	margin-left: 25%;
	margin-right: 25%;
	position: absolute;
	text-align: justify;
	top: 250px;
}

#badge {
	float: left;
	position: absolute;
	width: 33%;
}

body {
	background-color: #FFFFFF;
	color: #333;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

#border {
	background-image:url('/images/border.png');
	bottom: 0px;
	height: 87px;
	left: 0px;
	position: absolute;
	width: 100%;
}

.center {
	margin: auto;
	text-align: center;
}

#clickFunction {
	left: 66%;
	position: absolute;
	right: 100px;
}

#clickFunction h2 {
	text-align: left;
}

#clickFunction p {
	text-align: justify;
}

#cog_table {
	font-size: 1em;
	left: 33%;
	position: absolute;
}

#cog_table2 {
	font-size: 1em;
	left: 5%;
	position: absolute;
}

#content_main {
	bottom: 50px;
	position: relative;
	top: 50px;
	width: 100%;
}

.fancy {
	font-size: 1.5em;
}

#functionsChart {
	width: 100%;
}

#functionsChart table td {
	padding: 15px;
}

#functionDesc {
	left: 33%;
	margin-left: 5%;
	margin-right: 5%;
	position: absolute;
}

#functionDesc h1, #functionDesc h2 {
	color: #999999;
	margin-top: 0px;
	text-align: left;
}

#login {
	position: relative;
	text-align: center;
}

h1 {
	font-size: 3em;
	margin-bottom: 0px;
	text-align: center;
}

h2 {
	font-size: 2em;
	margin-bottom: 0px;
	margin-top: 5px;
	text-align: center;
}

h3 {
	margin-bottom: 0px;
	margin-top: 0px;
	text-align: center;
}

#hera {
	height: auto;
	left: 66.66%;
	position: absolute;
	text-align: center;
	width: 33.33%;
}

#info {
	left: 33%;
	position: absolute
	width: auto;
}

#main {
	background-image:url('/images/grid.png');
	border: 4px solid #333333;
	border-radius: 8px;
	left: 33.33%;
	margin-bottom: 30%;
	position: absolute;
	top: 125px;
	width: 33.33%;

}

#maintext {
	margin-left: 15px;
	margin-right: 15px;
	text-align: justify;
}

#nav {
    background-color: #000000;
    border-radius: 10px;
    color: #FFF;
    height: 45px;
    margin: auto;
    padding-top: 5px;
    min-width: 800px;
    position: relative;
    width: 70%;
}

#nav a:link, #nav a:visited, #nav a:active {
	color: #FFFFFF;
	text-decoration: none;
}

#nav a:hover {
	color: #999999;
}

#nav ul {
    text-align: center;
    z-index: 10;
}

#nav li {
    display: inline;
    font-size: 1.3em;
    margin-right: 50px;
}

.titleimg {
	height: 75%;
	width: 75%;
}

#top {
    position: fixed;
    top: -18px;
    width: 100%;
    z-index: 10;
}

#visualizeCommunity {
	margin: auto;
	position: relative;
	top: 100px;
	width: 75%;
}

#visualizeCommunity table {
	height: 100px;
	padding: 0px;
}

#zeus {
	height: auto;
	left: 0;
	position: absolute;
	text-align: center;
	width: 33%;
}

.Se {
	background-color: #CFE958;
	color: #999;
	height: 50px;
	width: 50px;
}

.Ne {
	background-color: #3F099D;
	color: #999;
	height: 50px;
	width: 50px;
}

.Te {
	background-color: #0793C9;
	color: #999;
	height: 50px;
	width: 50px;	
}

.Fe {
	background-color: #8707A8;
	color: #999;
	height: 50px;
	width: 50px;	
}

.Si {
	background-color: #A7174A;
	color: #999;
	height: 50px;
	width: 50px;
}

.Ni {
	background-color: #FABB41;
	color: #999;
	height: 50px;
	width: 50px;	
}

.Ti {
	background-color: #FD5126;
	color: #999;
	height: 50px;
	width: 50px;
}

.Fi {
	background-color: #FDFD62;
	color: #999;
	height: 50px;
	width: 50px;	
}





